section#features.clearfix
  ul
    li.grid_2 Comment about products you care about
    li.grid_3 Vote on other comments &amp; products
    li.grid_3 Build a credibility number for products
    li.grid_2 Informed choices, influence choices 

div.clearfix#features-content
  section.grid_8
    - if (comments.length)
        header Some recent comments
        ul#comments
          - each comment in comments
            li.comment 
              p #{comment.comment}
              p.attribution 
                | posted on 
                span.date #{comment.display_date}
                |  by
                img(src='http://gravatar.com/avatar/#{comment.gravatar}?r=g&s=60', alt='Gravatar image for #{comment.posted_by}', class='gravatar')
                |  about
                span.product #{comment.product_name}.
                |  See <a href='/comment/#{comment._id}'>more</a>
    - else
      p There are no comments yet.  Be the <a href='/comment'>first</a>.

  section.grid_4
    - if (products.length)
      header Product List
      ul
        - each product in products
          li
            a(href='/product/#{product._id}') #{product.display_name}
    - else
      p There are no products yet.
